# Android Studio 관련 파일
*.iml
.gradle/
local.properties
/.idea/caches/
/.idea/libraries/
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build/
/captures/
/.externalNativeBuild/
/.cxx

# Gradle Wrapper 파일
!gradle/wrapper/gradle-wrapper.properties
!gradle/wrapper/gradle-wrapper.jar

# JSON 파일을 포함시키기 위한 규칙
!*.json

# src와 res 디렉토리는 포함
!app/src/
!app/src/main/res/
!app/src/main/AndroidManifest.xml

# Android AVD 관련 파일 무시
.android/avd/*.lock

# 기타 무시할 수 있는 시스템 디렉토리
Temporary Internet Files/
Temp/
Local/
